<!DOCTYPE html>
<html>
  <head>
    <title>Verificate</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #F3F3F3;
      }
      
      h1 {
        text-align: center;
        font-size: 36px;
        color: #0077B5;
        margin-top: 50px;
      }
      
      p {
        text-align: center;
        font-size: 18px;
        color: #666666;
        margin-bottom: 50px;
      }
      
      nav {
        display: flex;
        justify-content: center;
      }
      
      ul {
        list-style: none;
        display: flex;
        align-items: center;
      }
      
      li {
        margin: 0 20px;
      }
      
      button {
        background-color: #0077B5;
        color: #FFFFFF;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }
      
      button:hover {
        background-color: #005D8F;
      }
      
    </style>
  </head>
  <body>
    
    <h1>Hello Admin</h1>
    <p>Please choose one of the following options</p>
    <nav>
      <ul>
        <li><button onclick="window.location.href='/adminrequests'">View Requests</button></li>
        <li><button onclick="window.location.href='/adminverify'">Verify Certificates</button></li>
        <li><button onclick="window.location.href='/adminpushtoblockchain'">Input to Blockchain</button></li>
        <li><button onclick="window.location.href='/adminnotification'">Notifications</button></li>
        <li><button onclick="window.location.href='/adminnotification'">IPFS</button></li>
        <li><button onclick="window.location.href='/logout'">Logout</button></li>
      </ul>
    </nav>
    
    <script>
      const buttons = document.querySelectorAll('button');
      buttons.forEach(button => {
        button.addEventListener('mouseover', () => {
          button.style.backgroundColor = '#005D8F';
        });
        button.addEventListener('mouseout', () => {
          button.style.backgroundColor = '#0077B5';
        });
      });
    </script>
  </body>
</html>